.mainPhoto {
  vertical-align: middle;
  /* horizonal-align: middle; */
  box-sizing: border-box;
  max-height: 846px;
  max-width: 1000px;
  transform: scale(1) translate(0px, 0px);
}
.mainPhotoButton {
  box-sizing: border-box;
  /* justify-content: center; */
  border: none;
  padding: 0;
  background: none;
}

.mainPhotoWrapper {
  box-sizing: border-box;
  height: 640px;
  display: flex;
  justify-content: center;
}

.singleImage {
  box-sizing: border-box;
  max-width: 54px;
  max-height: 54px;
  vertical-align: middle;
}

.singleImageWrapper {
  box-sizing: border-box;
}

.singleImageButton {
  width: 60px;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid rgb(190, 187, 187);
}

.singleImageButton:hover {
  border: 2px solid black;
}

.singleImageContainer {
  margin-right: 8px;
}

.imageList {
  display: flex;
  flex-direction: row;
}

.photoGallery {
  width: 600px;
}

.productModal {
  position: absolute;
  float:left;
  left: 0%;
  top: 0%;
  border: 1px solid #c5cbd5;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 30%);
  /* box-sizing: border-box; */
  border-radius: 4px;
  z-index: 1000;
  width: 97vw;
  height: 95vh;
  margin: 15px;
  transition: 0.5s;
  align-items: center;
  color:#040c13;
  background-color: white;
  font-size: 17px;
  min-width: 930px;
  max-width: 1600px;
  min-height: 600px;
}

.productModalTitle {
  border-bottom: 2px solid lightgrey;
  display: flex;
  justify-content: space-between;
}

.productImages {
  box-sizing: border-box;
  display:flex;
  justify-content: flex-start;
  font-size: 17px;
}

.productImagesTitle {
  padding-right: 20px;
}

.modalX {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalImageGallery {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.modalMainPhoto {
  height: 100%;
  width: 50%;
}